*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.header_div_up{
    padding: 12.5px 0px 0px 369px;
    height: 45px;
    background-color: #f1f1f3;
}
.header_apple{
    width: 40px;
    height: 24px;
}
header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
}
.header_el {
    color: #424242;
    transition: color 1ms linear;
    font-size: 13px;
    text-decoration: none;
}
.header_el:hover {
    color: black;
}
.active2{
    border: 2px #06c solid;
}
.slider_btn{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: #e6e6e9;
    font-size: 30px;
}
.div_get{
    background-color: #eeeeee;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_bloks{
    background-color: #eeeeee;
    width: 1060px;
    height: 70px;
    display: flex;
    margin: 12px 0 0 305px;
    border-radius: 3px;
}
.deals{
    margin: 13px 0 0 100px;
}
.deals_p{
    font-size: 20px;
}
.seall_deals{
    margin: 5px 0 0 0;
    text-decoration: none;
    color: #0091ff;
}
.credit1000{
    font-size: 13px;
    margin: 18px 0 0 5px;
}
.credit350{
    font-size: 13px;
    margin: 18px 0 0 0px;
}
.credit800{
    font-size: 13px;
    margin: 18px 0 0 0px;
}
.scd_img{
    margin-left: 40px;
}
.iph_h1_div{
    margin: 40px  0 0 70px;
}
.new{
    color: orange;
    margin: 0 0 3px 0;
}
.from{
    margin-top: 30px;
}
.imgs_iph{
    z-index: -100px;
    width: 1000px;
    height: 600px;
}
.imgs{
    height: 100%;
    margin: 40px 40px 0 40px;
    position: sticky;
    top: 100px;
    background-color: #f5f5f6;
    border-radius: 40px;
}
.vse{
    display: flex;
}
.model_div{
    margin-top: 80px;
}
.model_h1, .color_p{
    font-size: 30px;
    color: grey;
}
.model_span, .color_span{
    color: black;
}
.iph_pro{
    background-color: white;
    height: 140px;
    width: 400px;
    border: solid 2px #86868b;
    border-radius: 18px;
    display: flex;
    margin: 30px 0 0 0;
}
.iph_max {
    background-color: white;
    height: 140px;
    width: 400px;
    border: solid 2px #86868b;
    border-radius: 18px;
    margin-bottom: 17px;   
    display: flex; 
    margin: 30px 0 0 0;
}
.active3{
    border: 2px #06c solid;
}
.need_div {
    background-color: white;
    height: 140px;
    width: 400px;
    border: solid 2px #86868b;
    border-radius: 18px;
    margin-bottom: 17px;
    margin: 30px 0 0 0;
}
.iph_pro:hover {
    border: 2px #06c solid;
    cursor: pointer;
}
.iph_max:hover {
    border: 2px #06c solid;
    cursor: pointer;
}
.need_div:hover {
    border: 2px #06c solid;
    cursor: pointer;
}
.need_h1 {
    margin: 35px 0 0 20px;
    font-size: 19px;
    font-weight: 600;
}
.iph_pro_h1 {
    margin: 45px 0 0 15px;
    font-size: 19px;
    font-weight: 600;
}
.iph_pro_inch {
    margin: 5px 0 0 15px;
    font-size: 13px;
    text-align: start;
}
.from_iphpro{
    margin: 30px 0 0 120px;
    text-align: end;
}
.need_div{
    background-color: #eaeaea;
}
.need_p{
    margin: 5px 0 0 20px ;
}
.color_div{
    margin-top: 200px;
}
.color_h1{
    margin-top: 20px;
    font-size: 25px;
}
.color_img{
    margin-top: 20px;
    display: flex;
}
.violet{
    background-image: url(./img/violet.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 15px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    padding: none;
    /* border: 1px solid white; */
}
.gold{
    margin-right: 15px;
    background-image: url(./img/gold.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    /* border: 1px solid white; */
} 
.silver{
    margin-right: 15px;
    background-image: url(./img/white.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    /* border: 1px solid white; */
} 
.black{
    margin-right: 15px;
    background-image: url(./img/grey.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    /* border: 1px solid white; */
}
.op {
    margin-top: 130px;
    font-size: 30px;
}

.spand {
    color: #86868b;
}

.el {
    background-color: white;
    height: 140px;
    width: 400px;
    border: solid 1px #86868b;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    color: black;
    text-align: end;
}

.el0 {
    background-color: white;
    height: 140px;
    width: 400px;
    border: solid 1px #86868b;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    text-align: end;
    margin-top: 17px;
    color: black;
}

.el0:hover {
    border: 2px #06c solid;
}

.el:hover {
    border: 2px #06c solid;
}

.boxxx {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 20px;
}

.div001 {
    font-weight: 600;
    font-size: 19px;
}


.abigdive {
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.storage_glav{
    margin-bottom: 176.5px;
}
.credit_1000, .credit_350, .credit_800{
    display: flex;
}
.buttons{
    cursor: pointer;
}